<?xml version='1.0' encoding='utf-8'?>
<widget id="com.one_ccs.easy_todo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Easy todo</name>
    <description>轻松待办</description>
    <author email="one-ccs@foxmail.com" href="https://one-ccs.duckdns.org">one-ccs</author>

    <!-- hook -->
    <hook type="before_run" src="hooks/before_android_build.js" />
    <hook type="before_build" src="hooks/before_android_build.js" />

    <!-- 入口文件 -->
    <content src="/launch.html" />

    <!-- 允源域 -->
    <access origin="https://*.one-ccs.duckdns.org" />

    <!-- 允许打开的外部链接 -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />

    <!-- 文件存储位置 -->
    <preference name="AndroidPersistentFileLocation" value="Internal" />

    <platform name="android">
        <!-- 文件权限 -->
        <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->

        <!-- 图标 -->
        <icon src="res/android/logo.png" density="ldpi" />
        <icon src="res/android/logo.png" density="mdpi" />
        <icon src="res/android/logo.png" density="hdpi" />
        <icon src="res/android/logo.png" density="xhdpi" />
        <icon src="res/android/logo.png" density="xxhdpi" />
        <icon src="res/android/logo.png" density="xxxhdpi" />

        <!-- 启动屏 -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/android/splash.xml" />

        <preference name="StatusBarOverlaysWebView" value="false" />

        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="FadeSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="2000" />
        <preference name="SplashScreenBackgroundColor" value="#252526" />
        <preference name="SplashMaintainAspectRatio" value="false" />
    </platform>
</widget>
