::-webkit-scrollbar {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

:root {
    --van-cell-vertical-padding: 8px;

    --et-radius: 5px;
    --et-radius-lg: 9px;
    --et-space: var(--et-nav-bar-space);
    --et-space-lg: calc(var(--et-space) * 1.5);
    --et-sub-color: #707070;

    --et-nav-bar-padding: 0 var(--van-padding-md);
    --et-nav-bar-height: var(--van-nav-bar-height);
    --et-nav-bar-icon-size: 2em;
    --et-nav-bar-icon-radius: var(--et-radius);
    --et-nav-bar-space: 12px;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(root) {
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 2147483646;
}

html.van-theme-dark::view-transition-old(root) {
    z-index: 2147483646;
}

html.van-theme-dark::view-transition-new(root) {
    z-index: 1;
}
