@import './base.css';
@import './dark.less';
@import './font-awesome.min.css';

html,
body {
    width: 100%;
    height: 100%;
    font-family: et-font, Arial, sans-serif;
    color: var(--et-color);
    background-color: var(--et-bgc);
    user-select: none;

    #app {
        width: 100%;
        height: 100%;
    }
}

.van-config-provider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    > .van-nav-bar {
        .van-nav-bar__left--disabled {
            opacity: 1;
        }
        .left {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .icon {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: var(--et-nav-bar-icon-radius);
                width: calc(var(--et-nav-bar-icon-size) + 0.5em);
                height: calc(var(--et-nav-bar-icon-size) + 0.5em);
                color: var(--et-reverse-color);
                background-color: var(--et-reverse-bgc);

                .van-icon {
                    font-size: var(--et-nav-bar-icon-size);
                }
            }
            .content {
                margin-left: var(--et-nav-bar-space);
                text-align: left;
                line-height: 1.2em;

                .desc {
                    color: var(--et-sub-color);
                    font-size: 0.8em;
                }
            }
        }
    }

    .client-view {
        width: 100%;
        height: 100%;
    }

    .full-view {
        z-index: 2;
        position: fixed;
        inset: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        color: var(--et-color);
        background-color: var(--et-bgc);

        .view-container {
            overflow: hidden auto;
        }
    }
}

.van-cell-group {
    margin: var(--et-space);
}
