/* 列表动画 */
.list-move,
.list-enter-active,
.list-leave-active {
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

.list-leave-active {
    position: absolute;
}
